PORT_NO=
# enum : ["development", "production"]
NODE_ENV="development" 
FRONTEND_ORIGIN=
DB_CONNECTION_STRING=
JWT_KEY=
JWT_KEY_FOR_OTP=
REDIS_HOST=
REDIS_PORT_NO=
REDIS_PASSWORD=
TOTAL_SEATS=
AI_API_KEY=
GOOGLE_DRIVE_FOLDER_ID=
WHATSAPP_BUSINESS_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
ATTENDANCE_TOKEN_KEY=